/* universal CSS  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


/* end universal css  */

/* more css for stop repitition  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}



/***** Header part  *****/
header {
    background-color: rgb(30 29 29 / 56%);
    position: absolute;
    width: 100%;

}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #f39c12;
}

.icon {
    position: relative;
}

.icon-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-6%, 6%);
    z-index: 9999;
}

/* banner part  */
.banner {
    background-image: url('/assets/Banner-Bg-Img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.custom-banner {
    min-height: 100vh;
}

.banner-font {
    font-size: 50px;
    color: #f39c12;
    font-weight: 400;
}

.text-light {
    font-size: 50px;
    font-weight: 700;
}

.hero-btn {
    margin: 5px;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid #fff;
    background: transparent;
}

.hero-btn:hover {
    background-color: #f39c12;
    transition: 0.4s all ease-in-out;
}

.btn-background {
    background-color: #f39c12;
}

.btn-background:hover {
    background-color: transparent;
}

.hero-btn a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}





/***** End Header part  *****/
/***** about me section  *****/

.about-text {
    margin-top: 5px;
    text-align: justify;
    text-indent: 2px;
}

.about-text::first-letter {
    font-weight: 800;
    font-size: 30px;
}

.progress-bg-color {
    background-color: #f39c12;
}

/***** End about me section  *****/
.single-service {
    padding: 50px 0;
    border: 1px solid lightslategrey;
}
.single-service:hover {
    background-color: #f39c12;
    color: #fff;
    padding: 50px 0;
    border-radius: 15px;
    transition: 0.4s all ease-in-out;
   
}

.icon-service {
    margin: 10px 36%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: lightslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon-service i {

    font-size: 30px;
    color: #fff;
}

.service-info {}

.service-info h4 {
    margin: 25px 0;
    text-transform: uppercase;
    text-align: center;
}

.service-info p {
    text-align: center
}